.Status-Bar---On-Dark {
  height: 20px;
  background-color: #d75c5c;
  text-align: center;
  font-size: 30px;
  color:white;

}

.Speech {
  width: 75px;
  object-fit: contain;
  background-color: #f2f2f2;
}

.Rectangle-3 {
  height: 115px;
  background-color: #d75c5c;
}

.Begin-Conversation {
  height: 1300px;
}

.Rectangle-6 {
  height: 320px;
  background-color: rgba(115, 139, 152, 0.1);
}

.Date {
	margin-top:20px;
  height: 16px;
  font-family: SanFranciscoText;
  font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #738b98;
}

.logo {
	width:350px;
	margin: 0 auto;
	margin-top:830px;
}

.logo2 {
  width: 350px;
  opacity: 0.3;
}


.img-card {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  background-color: grey;
  float: left;
}

i {
  border: solid black;
  border-width: 0 15px 15px 0;
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
  padding: 15px;
    float: left;

}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
      float: left;
}

.check {
  float:right;
  margin-right: 15px;
}
